@charset "UTF-8";
img {
  vertical-align: bottom;
  max-width: 100%;
}

/* 텍스트 숨김 */
.txt-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 무조건 안보이게 */
.invisible {
  display: none !important;
}

/* 그냥 안보이게 */
.none {
  display: none;
}

.mg-left {
  margin-left: auto;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-200, #BB86FC);
  border-radius: 16px;
  border: 4px solid transparent;
}

.title-lg {
  font-size: 30px;
  font-weight: 700;
  color: #242A30;
  letter-spacing: -0.3px;
  line-height: 1.3;
}

.title-md {
  font-size: 22px;
  font-weight: 700;
  color: #242A30;
  letter-spacing: -0.22px;
  line-height: 1.3;
}

.title-xlg {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 1.3;
}
.title-xlg .gray-txt {
  color: #556372;
}

.gradient-txt {
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-txt.type-pink {
  background: linear-gradient(135deg, #f96a21, #fb60b3);
}
.gradient-txt.type-blue {
  background: linear-gradient(135deg, #56ccf2, #2f75f1);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  opacity: 1;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  transition: all 0s;
  opacity: 1;
}
.btn .txt {
  color: inherit;
}
.btn .ico-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn .ico-box.type-14 {
  width: 14px;
  height: 14px;
}
.btn .ico-box.type-17 {
  width: 17px;
  height: 17px;
}
.btn .red-txt {
  color: #EB5757;
}
.btn .blue-txt {
  color: #2F75F1;
}

.btn-type01 {
  height: 55px;
  padding: 0 10px;
  height: 55px;
  color: white;
  font-size: 14px;
  width: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, #56CCF2 4.57%, #2F75F1 98.3%), #000;
}

.btn-type02 {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background-color: white;
  height: 40px;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #556372;
  padding: 0 13px;
  letter-spacing: -0.14px;
}

.btn-type03 {
  height: 55px;
  padding: 0 10px;
  height: 55px;
  color: white;
  font-size: 14px;
  width: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, #F96A21 4.57%, #FB60B3 98.3%), #000;
}

.txt-btn {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.14px;
}
.txt-btn.type-gray {
  color: #8d96a1;
}
.txt-btn.type-blue {
  color: #2f75f1;
}

.txt-ico-btn {
  font-size: 16px;
  font-weight: 500;
  color: #8d96a1;
  letter-spacing: -0.16px;
  gap: 5px;
}

.btn-type04 {
  font-size: 18px;
  letter-spacing: -0.18px;
  font-weight: 700;
  color: white;
  border-radius: 7px;
  height: 65px;
  padding: 0 25px;
  background-color: #2f75f1;
  gap: 10px;
}

.btn-type05 {
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  padding: 0 20px;
  letter-spacing: -0.14px;
  border-radius: 5px;
  border: 1px solid #DDD;
  background-color: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  color: #556372;
}

.btn-type05.active {
  background-color: #2F75F1;
  color: white;
  border-color: #2f75f1;
}

.list-btn-type01 {
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #242a30;
  letter-spacing: -0.14px;
}

.list-btn-type02 {
  width: 100%;
  justify-content: flex-start;
}
.list-btn-type02 .left-txt {
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #353d4a;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.list-btn-type02 .left-txt .ico {
  margin-right: 10px;
}

.btn-type06 {
  height: 31px;
  border-radius: 5px;
  background-color: #E4E4E4;
  padding: 0 7px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  color: #353d4a;
}

.list-btn-type03 {
  gap: 7px;
  font-size: 14px;
  letter-spacing: -0.14px;
  font-weight: 500;
}

.list-btn-type04 {
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 11px;
}
.list-btn-type04 .txt-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  line-height: 1.3;
}
.list-btn-type04 .txt {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: #505567;
}
.list-btn-type04 .sub-txt {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: #969db0;
}

.list-btn-type05 {
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  color: #242a30;
}

.btn-type07 {
  background-color: white;
  padding: 0 13px;
  border-radius: 10px;
  border: 1px solid #DDD;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.14px;
  color: #556372;
  height: 42px;
  gap: 5px;
}

.btn-type08 {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #F6F6F7;
  background-color: #FAFAFB;
  height: 67px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  color: #556372;
}
.btn-type08 .ico-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.btn-type13 {
  width: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, #F96A21 4.57%, #FB60B3 98.3%);
  height: 67px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  color: #fff;
}

.btn-type09 {
  width: 100%;
  border-radius: 7px;
  background-color: #2F75F1;
  height: 67px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  color: white;
}

.btn-type10 {
  padding: 0 14px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: white;
  border-radius: 7px;
  background-color: #2F75F1;
  height: 40px;
}

.btn-type11 {
  font-size: 18px;
  font-weight: 700;
  height: 59px;
  padding: 0 22px;
  letter-spacing: -0.18px;
  border-radius: 10px;
  border: 1px solid #DDD;
  background-color: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  color: #556372;
}

.func-btn {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-type12 {
  height: 33px;
  padding: 0 11px;
  font-size: 13px;
  font-weight: 700;
  color: #556372;
  letter-spacing: -0.13px;
  border-radius: 7px;
  border: 1px solid #DDD;
  background-color: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.btn-type14 {
  background-color: white;
  padding: 0 13px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #2F75F1;
  color: #2F75F1;
  letter-spacing: -0.14px;
  height: 42px;
  gap: 5px;
}

.btn-type15 {
  height: 42px;
  background-color: #2F75F1;
  border-radius: 10px;
  padding: 0 25px;
  color: white;
  font-weight: 18px;
  letter-spacing: -0.18px;
  font-weight: 700;
}

.btn-type16 {
  height: 58px;
  background-color: #2F75F1;
  border-radius: 7px;
  padding: 0 25px;
  color: white;
  font-size: 22px;
  letter-spacing: -0.22px;
  font-weight: 700;
}

.btn-type17 {
  height: 56px;
  background-color: #2F75F1;
  border-radius: 7px;
  padding: 0 25px;
  color: white;
  font-weight: 16px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.ico {
  flex-shrink: 0;
  width: 30px;
}

.ico-15 {
  width: 15px;
}

.ico-17 {
  width: 17px;
}

.ico-16 {
  width: 16px;
}

.ico-14 {
  width: 14px;
}

.ico-18 {
  width: 18px;
}

.ico-23 {
  width: 23px;
}

.ico-9 {
  width: 9px;
}

.ico-13 {
  width: 13px;
}

.ico-12 {
  width: 12px;
}

.ico-8 {
  width: 8px;
}

.components-page {
  margin: 0 auto;
  width: 95%;
  max-width: 768px;
  padding: 40px 0;
}

.components-item-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.components-item {
  width: 100%;
}
.components-item > h1 {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}
.components-item .contents {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.badge {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  color: #005352;
  border-radius: 4px;
  border: 1px solid #D9F0F0;
  background-color: #E0F8F8;
  letter-spacing: -0.1px;
}

.gpt-choice-wrap {
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-width: 178px;
  gap: 8px;
  border-radius: 100px;
  background-color: #F1F5FF;
  height: 52px;
  cursor: pointer;
}
.gpt-choice-wrap .left-txt {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
  background-color: #6446ff;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.14px;
  padding: 0 16px;
  border-radius: 100px;
}
.gpt-choice-wrap .left-txt .ico-box {
  width: 17px;
  height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.gpt-choice-wrap .right-circle {
  background-color: white;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.white-bd-box {
  border-radius: 10px;
  border: 1px solid #DDD;
  background-color: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.guide-page {
  padding: 30px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.guide-table-wrap > h1 {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.21px;
}

.guide-table-wrap {
  margin-bottom: 50px;
}

.guide-table-wrap table {
  width: 100%;
}

.guide-table-wrap table th {
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  padding: 11px 8px;
  color: #a8a8a8;
  background-color: #f7f7f7;
  border-top: 2px solid #eaeaea;
}

.guide-table-wrap table td {
  padding: 11px 8px;
  font-size: 14px;
  letter-spacing: -0.14px;
  vertical-align: top;
  border-bottom: 1px solid #f1f1f1;
}

.guide-table-wrap table a {
  /* font-weight: 500; */
  color: #296bb6;
  text-decoration: underline;
}